{snippet}
    {if !$key}
        {$input}
    {else}
        <div class="thumbnail">
            <img src="{thumb key => $key, width => $width, flag => $flag}" class="img-responsive">

            <ul class="tools">
                <li>
                    <a href="{$control->link('delete!')}" class="btn btn-icon btn-danger ajax" data-confirm="{_"Do you want to remove this image?"}">
                        <i class="fa fa-trash"></i>
                        {_"Remove Image"}
                    </a>
                </li>
            </ul>
        </div>
    {/if}
{/snippet}