{snippet}
    {if empty($file)}
        {$input}
    {else}
        <a href="{file $file}" target="_blank">{$file}</a><br>
        <a href="{$control->link('delete!')}" class="ajax">Odstrániť súbor</a>
    {/if}
{/snippet}