<div class="image-uploader">
    <div class="image-uploader-queue"></div>

    <div class="text-center">
        <span class="file-input">
            <input type="file" id="choose-images" class="choose-images" multiple>
            <label class="btn btn-outline-primary" for="choose-images"><i class="fa fa-files-o"></i> Vybrať fotky</label>
        </span>

        <a class="btn btn-outline-success upload-images">
            <i class="fa fa-upload"></i>
            Nahrať fotky
        </a>
    </div>

    <script id="image-preview-template" type="text/x-handlebars-template" n:syntax="off">
        <div class="image-preview-wrapper" id="{{id}}">
            <div class="image-preview">
                <img src="{{src}}">
            </div>
            <div class="image-preview-progress"></div>
            <div class="image-preview-tools">
                <a class="btn btn-round btn-danger btn-xs remove-file" data-id="{{id}}">
                    <i class="fa fa-trash"></i>
                </a>
                <a class="btn btn-round btn-danger btn-xs cancel-upload" data-id="{{id}}">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="image-preview-success">
                <i class="fa fa-check"></i>
            </div>
        </div>
    </script>
</div>

<script>
    var imageUploader = new movi.ImageUploader($('.image-uploader'), {
        uploadUrl: {link upload!},
        allowedExtensions: {$control->allowedExtensions}
    });
</script>
