{snippet}
    <div class="modal fade in" id="modal-{$control->getName()}">
        <div n:class="'modal-dialog', $size">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" n:snippet="title">{$title}</h4>
                </div>
                <div class="modal-body" n:snippet="body">
                    {default $showBody = false}
                    {if $showBody}{control body}{/if}
                </div>
            </div>
        </div>
    </div>
{/snippet}