{snippet}
    {foreach $flashes as $flash}
        <div n:class="alert, autohide, $flash->type, !empty($flash->title) ? alert-block">
            <button type="button" class="close" data-dismiss="alert" n:if="$flash->close">&times;</button>
            <h4 n:if="!empty($flash->title)">{$flash->title}</h4>
            {_}{$flash->message}{/_}
        </div>
    {/foreach}
{/snippet}