<p class="text-center">
    <a class="btn btn-outline-primary" id="{$control->getParameterId('browse')}">
        <i class="fa fa-files-o"></i>
        Vybrať súbory
    </a>
    <a class="btn btn-outline-success" id="{$control->getParameterId('start-upload')}">
        <i class="fa fa-upload"></i>
        Nahrať
    </a>
</p>

<div id="{$control->getParameterId('fileList')}"></div>

<script id="{$control->getParameterId('file-template')}" type="text/x-jsrender" n:syntax="off">
<div class="file well" id="{{:file.id}}">
    <div class="pull-right">
        <button type="button" class="close" aria-hidden="true" onclick="removeFile(this)">&times;</button>
    </div>

    <div class="pull-left">
        <b>{{:file.name}}</b>
    </div>

    <div class="clearfix"></div>

    <div class="form-group">
        <input type="email" class="form-control" placeholder="Popis fotky..." id="name_{{:file.id}}">
    </div>

    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-info" style="width: 0%;">
            0%
        </div>
    </div>
</div>
</script>

<script type="text/javascript">
    {var instance => mt_rand()}

    var fileList_{$instance|noescape} = $('#' + {$control->getParameterId('fileList')});

    var uploader_{$instance|noescape} = new plupload.Uploader({
        browse_button: {$control->getParameterId('browse')},
        url: {link upload},
        {if count($mimeTypes) > 0}
        filters: {
          mime_types : {$mimeTypes}
        }
        {/if}
    });

    uploader_{$instance|noescape}.init();

    uploader_{$instance|noescape}.bind('FilesAdded', function(up, files) {
        plupload.each(files, function(file) {
            file.nameWithoutExtension = file.name.substr(0, file.name.lastIndexOf('.'));
            var template = $("#" + {$control->getParameterId('file-template')}).render({
                file: file
            });

            fileList_{$instance|noescape}.append(template);
        });
    });

    uploader_{$instance|noescape}.bind('UploadProgress', function(up, file) {
        $('div.progress-bar', '#' + file.id).text(file.percent + '%').css({
            width: file.percent + '%'
        });
    });

    uploader_{$instance|noescape}.bind('FileUploaded', function(up, file) {
        $.nette.ajax({
            url: {link refresh}
        });

        $('#' + file.id).delay(2000).fadeOut();
        uploader_{$instance|noescape}.removeFile(file);
    });

    uploader_{$instance|noescape}.bind('BeforeUpload', function(up, file) {
        var name = $("#name_" + file.id);

        up.setOption('multipart_params', {
            name: name.val()
        });
    });

    $('#' + {$control->getParameterId('start-upload')}).on('click', function() {
        uploader_{$instance|noescape}.start();
    });

    function removeFile(button)
    {
        var fileContainer = $(button).parents('div.file');
        var id = fileContainer.attr('id');
        var file = uploader_{$instance|noescape}.getFile(id);

        fileContainer.remove();
        uploader_{$instance|noescape}.removeFile(file);
    }
</script>
