<ul class="pagination" n:if="$paginator->pageCount > 1">
    <li n:class="$paginator->isFirst() ? disabled">
        {if $paginator->isFirst()}
            <a href="#">&laquo;</a>
        {else}
            <a n:href="this page => $paginator->page - 1" n:class="$ajax ? ajax">&laquo;</a>
        {/if}
    </li>

    <li n:foreach="$steps as $step" n:class="$step == $paginator->page ? active">
        {if $step == $paginator->page}
            <span>{$step}</span>
        {else}
            <a n:href="this page => $step" n:class="$ajax ? ajax">{$step}</a>
        {/if}

        <span n:if="$iterator->nextValue > $step + 1">...</span>
    </li>

    <li n:class="$paginator->isLast() ? disabled">
        {if $paginator->isLast()}
            <a href="#">&raquo;</a>
        {else}
            <a n:href="this page => $paginator->page + 1" n:class="$ajax ? ajax">&raquo;</a>
        {/if}
    </li>
</ul>
