{define nodes}
    <ul>
        <li n:foreach="$nodes as $node" id="{$node->id}" data-link="{link select, $node->id}" data-jstree='{"icon": "fa {$node->icon}"}'>
            {$node->name}

            {if $node->hasChildren()}
                {include #nodes, nodes => $node->children}
            {/if}
        </li>
    </ul>
{/define}

{snippet}
<div class="panel panel-default">
    <div class="panel-heading">
        {if !empty($nodeTypes)}
            <div class="dropdown">
                <a class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-plus"></i> {$control->buttonAdd} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header" n:if="!empty($control->dropdownHeader)">{$control->dropdownHeader}</li>
                    <li n:foreach="$nodeTypes as $key => $label"><a n:href="add, type => $key" class="ajax">{$label}</a></li>
                </ul>
            </div>
        {else}
            <a href="{link add}" class="btn btn-outline-success ajax">
                <i class="fa fa-plus"></i>
                {$control->buttonAdd}
            </a>
        {/if}
    </div>
    <div class="panel-body">
        {snippet tree}
            <div class="alert alert-info" n:if="count($nodes) === 0">
                {$control->noNodesNotice|noescape}
            </div>

            <div class="tree" id="{$control->getUniqueId()}"
                 data-dnd="true"
                 data-move-url="{link move!}">
                {include #nodes, nodes => $nodes}
            </div>
        {/snippet}
    </div>
</div>
{/snippet}
